<div class="container">
  <h1> HOME</h1>
  <h3>📦 Lista de productos</h3>

  <ul id="productList">
    {{#each products}}
      <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
  </ul>
</div>

 <div>
    {{#each links}}
      <a href={{this.link}}> {{this.text}} </a>
    {{/each}}
  </div>

  <link rel="stylesheet" href="/css/styles.css" />
